# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Erlang Ecosystem Foundation

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
/.mcp.json
/.claude

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

